#mainContent { 
	margin-top: 144px;
}
#output-panel{
	margin-top: 26px;
	min-height: 233px;
}
#canvas-container {
	max-height: 180px;
	max-width: 180px;
}
.info-container {
	min-height:240px;
}
.info-container .subheader {
	color: #6f6f6f;
}